{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "domus-seu-projeto-firebase",
    "storage_bucket": "domus-seu-projeto-firebase.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:xxxxxxxxxxxxxxxx",
        "android_client_info": {
          "package_name": "app.domus.mobile"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "COLE_AQUI_A_CHAVE_DO_FIREBASE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
